.cuadro-1{
    background-color: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 6px 6px 9px #000000a2;
    padding: 10px;
    margin-left: 100px;
}